<template>
<form v-on:submit.stop.prevent='sendForm'>
	<div class="mb-3">
		<label for="title" class="form-label">Nom de la liste *</label>
		<input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="" id="title">
	</div>
	<button type="submit" class="btn btn-primary">Valider</button>
</form>
</template>

<script>
const bootstrap = require('bootstrap')

import { mapState, mapActions } from 'vuex'

export default {
	name: 'AddList',
	data () { return {
		apiUrl: process.env.VUE_APP_API_URL
	}},
	computed:  {
		...mapState(['logged', 'lists'])
	},
	mounted() {
		initErrorsTooltips()
	},
	methods: {
		...mapActions(['listsUpdate']),
		sendForm(event) {
			const url = this.apiUrl + '/list/' + this.logged.userId
			let errorMsg = this.validateForm(event.target)
			if (errorMsg) {
				showError('title', errorMsg)
				return
			}
			else
					showValidation('title')
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json' ,
					'Authorization': 'Bearer ' + this.logged.token
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data && data.message === "title")
						showError('title', "Une autre liste a déjà ce nom")
					else if (data && data.message === "format")
						showError('title', "Entrer un titre valide")
					if (response.ok)
						this.listsUpdate()
						.then (() => this.$emit('addlist-done'))
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		},
		validateForm(target) {
			let test = /^[\s\S]{0,255}$/.test(target.title.value)
			if (!test)
				return "Entrer un titre valide"
			else if (this.lists && this.lists.some(list => list.name === target.title.value))
				return "Une autre liste a déjà ce nom"
			else
				return null
		}
	}
}

let tooltipList = {}	

function initErrorsTooltips() {
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	let tooltipArray = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl, {
			boundary: document.body,
			trigger: 'manual'
		})
	})
	for (let tooltip of tooltipArray) {
		tooltipList[tooltip._element.id] = tooltip
	}
}

function showError(element, msg) {
	let el = document.getElementById(element)
	el.classList.remove('is-valid')
	el.classList.add('is-invalid')
	tooltipList[element]._config.title = msg
	tooltipList[element].show()
}

function showValidation(element) {
	let el = document.getElementById(element)
	el.classList.add('is-valid')
	el.classList.remove('is-invalid')
	tooltipList[element]._config.title = ""
	tooltipList[element].hide()
}

function formatData(target) {
	let data = {
		name: target.title.value,
	}
	return JSON.stringify(data)
}


</script>

<style scoped lang="scss">
</style>
