<template>

<div class="container">
<form v-on:submit.stop.prevent='sendForm'>
	<div class="mb-3">
		<label for="title" class="form-label">Nom de la tâche *</label>
		<input type="text" class="form-control" id="title">
	</div>
	<div class="mb-3">
		<label for="shortdesc" class="form-label">Courte description *</label>
		<input type="text" class="form-control" id="shortdesc">
	</div>
	<div class="mb-3">
		<label for="longdesc" class="form-label">Longue description</label>
		<textarea type="text-area" class="form-control" id="longdesc"></textarea>
	</div>
	<div class="mb-3">
		<label for="date" class="form-label">Date d'échéance *</label>
		<input type="date" class="form-control" id="date">
	</div>
	<button type="submit" class="btn btn-primary">Valider</button>
</form>
</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	name: 'AddTask',
	data () { return {
		apiUrl: process.env.VUE_APP_API_URL
	}},
	props: {
		onTask: { type: Boolean },
		listId: { type: Number }
	},
	emits: ['update:onTask', 'addtask-done'],
	computed:  {
		...mapState(['logged', 'tasks'])
	},
	methods: {
		...mapActions(['checkLogged']),
		sendForm(event) {
			const url = `${this.apiUrl}/task/${this.logged.userId}/${this.listId}`
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json' ,
					'Authorization': 'Bearer ' + this.logged.token
				},
				body: formData
			})
			.then (response => {
					if (response.ok) {
						event.target.reset()
						this.$emit('addtask-done')
					}
			})
			.catch (err => console.error(err.message ? err.message : err))
		}
	}
}


function formatData(target) {
	let data = {
		name: target.title.value,
		shortDesc: target.shortdesc.value,
		longDesc: target.longdesc.value,
		date: target.date.value,
	}
	return JSON.stringify(data)
}


</script>

<style scoped lang="scss">
</style>
