<template>
		<div class="addtask" @click="$emit('add-task')">
			<i class="addtask__icon bi bi-plus-square-fill"></i>
		</div>
		<div class="tasks">
			<div v-for="task in tasks" class="task" :key="task.id">
				<input @change="selectTask($event, task)" type="radio" name="task-radio" :id="'task-check-' + task.id" data-ignore-click="1" />
				<label :for="'task-check-' + task.id" class="task__name" data-ignore-click="1">{{ task.name }}</label>
				<i class="bi bi-x-circle task__del" @click.stop="showModalDeleteTask(task.id)"></i>
			</div>
		</div>
		<ModalYesNo id="deltask" :callbackYes="callDeleteTask" buttonTextYes="Confirmer" buttonTextNo="Annuler">
			Confirmer la suppresion de la tâche ?
		</ModalYesNo>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ModalYesNo from './ModalYesNo.vue'

const bootstrap = require('bootstrap')

export default {
	name: 'DisplayList',
	props: ['task', 'listId'],
	emits: ['update:task', 'add-task'],
	components: { ModalYesNo },
	data () { return {
		modalDeleteTask: null,
		deleteTaskId: null
	}},
	computed:  {
		...mapState(['logged', 'tasks'])
	},
	mounted() {
		this.tasksUpdate(this.listId)
		this.modalDeleteTask = new bootstrap.Modal(document.getElementById('modal-deltask'))
	},
	methods: {
		...mapActions(['checkLogged', 'tasksUpdate', 'deleteTask']),
		selectTask (event, task) {
			this.$emit('update:task', task)
		},
		showModalDeleteTask (deleteTaskId) {
			document.getElementById('button_yes-deltask').setAttribute('data-task-id', deleteTaskId)
			this.modalDeleteTask.toggle()
			this.deleteTaskId = deleteTaskId
		},
		callDeleteTask() {
			if (this.listId)
			this.modalDeleteTask.toggle()
			this.deleteTask(this.deleteTaskId)
			.then (() => {
				this.tasksUpdate(this.listId)
				if (this.deleteTaskId == this.task.id)
					this.$emit('update:task', null)
			})
			.catch (err => console.error(err))
		}
	}
}
</script>

<style scoped lang="scss">
.tasks {
	width: 100%;
	height: 100%;
	overflow: auto;
	height: calc(100% - 45px);
}
.addtask {
	font-size: 30px;
	color: white;
	height: 45px;
	background: $primary;
	border-radius: 10px 10px 0px 0px;
	&:hover{
		background-color: $secondary;
	}
}
.task {
	input {
		display: none;
		&:checked ~ .task__name  {
				border: double $secondary 6px;
				color: $primary;
				font-weight: bold;

		}
	}
	&__name {
		width: 100%;
		height: 100%;
		line-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		&:hover {
			border: double 6px;
		}
	}
	&__del {
		position: absolute;
		left: 18px;
		top: 18px;
		display: none;
		div:hover > & {
			display: block;
		}
		input:checked ~ & {
			display: block;
		}
	}
	height: 60px;
	width: 100%;
	border-bottom: solid 3px;
	position: relative;
	align-items: center;
	justify-content: center;
}
</style>
