<template>
	<component class='root-element' :is="rootElement">
		<div class="root-element__area-left">
			<img src="../assets/logo.png" alt="logo">
			<!--				<slot name="area-left"> -->
			<!--			</slot> -->
		</div>
		<div class="root-element__area-middle">
				<slot name="area-middle">
					<h1> Titre </h1>
				</slot>
		</div>
		<div class="root-element__area-right">
				<slot name="area-right">
				</slot>
		</div>
	</component>
</template>

<script>

export default {
	name: 'HeaderThreeArea',
	props: {
			title: {
					type: String,
					default: 'Titre',
					required: false
			},
			rootElement: {
					type: String,
					default: 'header',
					required: false
			},
			headerHeight: {
					type: String,
					default: '100px',
					required: false
			}
	}
}
	
</script>


<style scoped lang="scss">
	.root-element {
		height: v-bind(headerHeight);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		object-fit: contain;
		border-bottom: dashed $primary 2px;
		color: white;
		&__area-left {
			width: 15%;
			min-width: 100px;
			height: 100%;
			object-fit: contain;
			overflow: hidden;
			background-color: white;
			border-right: solid $primary 2px;
		}
		&__area-right {
			width: 15%;
			min-width: 100px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			border-left: solid $primary 2px;
		}
		&__area-middle {
			width: 70%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $secondary;
			text-shadow: 0px 0px 7px black;
			overflow: hidden;
		}
	}
	img {
		max-height: 100%;
		max-width: 100%;
	}
</style>
