<template>
	<div class="modal fade" :id="'modal'+suffix" tabindex="-1" :aria-labelledby="'modalLabel'+suffix" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" :id="'modalLabel'+suffix">{{ title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<slot></slot>
			</div>
			<div class="modal-footer">
				<button id="'button_no'+suffix" @click="callbackNo" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ buttonTextNo }}</button>
				<button :id="'button_yes'+suffix" @click="callbackYes" type="button" class="btn btn-primary">{{ buttonTextYes }}</button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: 'ModalYesNo',
	data () { return {
			suffix: this.id ? '-' + this.id : ''
		}},
	props: {
		id: {
			type: String,
			required: false
		},
		callbackYes: {
			type: Function,
			required: false
		},
		callbackNo: {
			type: Function,
			required: false
		},
		title: {
			type: String,
		},
		buttonTextYes: {
				type: String,
				default: 'Yes',
				required: false
		},
		buttonTextNo: {
			type: String,
			default: 'No',
			required: false
		}
	},
}
</script>

<style scoped lang="scss">
</style>
