<template>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<slot>
				</slot>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: 'Modal',
	props: {
		buttonYesText: {
				type: String,
				default: 'Yes',
				required: false
		}
		buttonNoText: {
			type: String,
			default: 'No',
			required: false
		}
	},
	methods: {
	}
}
</script>

<style scoped lang="scss">
}
</style>
