<template>
<div id="sidebar-right-cont">
	<input type="checkbox" id="sidebar-toggle-right" v-on:change.stop="sidebarState" data-ignore-click="1" />
	<label for="sidebar-toggle-right" class="toggle-icon-right"><i class="bi bi-layout-text-sidebar" data-ignore-click="1"></i></label>
	<div class="sidebar-right">
		<slot></slot>
	</div>
</div>
</template>

<script>
export default {
	name: 'SidebarRight',
	emits: ['sidebar-right-state'],
	data () { return {
		iconEnabledPosition: '30px',
		toggleIconPosition: '-30px',
		sidebarShift: '-' + this.sidebarWidth
	}},
	props: {
		enable: {
			default: true,
		},
		sidebarWidth: {
			type: String,
			default: '300px'
		},
		sidebarHeight: {
			type: String,
			default: '100%'
		},
		sidebarTopPosition: {
			type: String,
			default: '0px'
		},
		transitionDuration: {
			type: String,
			default: '300ms'
		}
	},
	methods: {
		sidebarState(event) {
			if (event.target.checked)
				this.$emit('sidebar-right-state', true)
			else
				this.$emit('sidebar-right-state', false)
			}
	},
	watch: {
		enable(enable) {
				if (enable) {
					document.getElementById('sidebar-toggle-right').checked = true
					this.toggleIconPosition = this.iconEnabledPosition
					this.$emit('sidebar-right-state', true)
				}
				else {
					document.getElementById('sidebar-toggle-right').checked = false
					this.toggleIconPosition = '-30px'
					this.$emit('sidebar-right-state', false)
				}
		}
	}
}
</script>

<style scoped lang="scss">

.sidebar-right {
	position: absolute;
	top: v-bind(sidebarTopPosition);
	right: v-bind(sidebarShift);
	z-index: 0;
	width: v-bind(sidebarWidth);
	height: calc(100% - 50px);
	background-color: none;
	transition: all 300ms ease-in-out;
	// transition
	#sidebar-toggle-right:checked ~ & {
		right: 0px;
	}
}

#sidebar-toggle-right {
	display: none;
}

.toggle-icon-right {
	position: absolute;
	top: calc(v-bind(sidebarTopPosition) - 40px);
	right: v-bind(toggleIconPosition);
	font-size: 24px;
	z-index: 1;
	transition: all v-bind(transitionDuration) ease-in-out;
	&:hover{
		color: $secondary;
	}
}
</style>
