<template>
<div id="sidebar-left-cont">
	<input type="checkbox" id="sidebar-toggle-left" v-on:change.stop="sidebarState" />
	<label for="sidebar-toggle-left" class="toggle-icon-left"><i class="bi bi-layout-text-sidebar-reverse"></i></label>
	<div class="sidebar-left">
		<slot></slot>
	</div>
</div>
</template>

<script>
export default {
	name: 'SidebarLeft',
	emits: ['sidebar-left-state'],
	data () { return {
		sidebarShift: '-' + this.sidebarWidth
	}},
	props: {
		sidebarWidth: {
			type: String,
			default: '200px'
		},
		sidebarHeight: {
			type: String,
			default: '100%'
		},
		sidebarTopPosition: {
			type: String,
			default: '0px'
		},
		transitionDuration: {
			type: String,
			default: '300ms'
		}
	},
	methods: {
		sidebarState(event) {
			if (event.target.checked)
				this.$emit('sidebar-left-state', true)
			else
				this.$emit('sidebar-left-state', false)
			}
		}
}
</script>

<style scoped lang="scss">

.sidebar-left {
	position: absolute;
	top: v-bind(sidebarTopPosition);
	left: v-bind(sidebarShift);
	z-index: 0;
	width: v-bind(sidebarWidth);
	height: calc(100% - 50px);
	background-color: none;
	transition: all 300ms ease-in-out;
	// transition
	#sidebar-toggle-left:checked ~ & {
		left: 0px;
	}
}

#sidebar-toggle-left {
	display: none;
}

.toggle-icon-left {
	position: absolute;
	top: calc(v-bind(sidebarTopPosition) - 40px);
	left: 30px;
	font-size: 24px;
	z-index: 1;
	transition: all v-bind(transitionDuration) ease-in-out;
	&:hover{
		color: $secondary;
	}
}
</style>
