@mixin xs-screen {
	@media screen and (min-width: map-get($breakpoints, xs)) {
		@content;
	}
}
@mixin sm-screen {
	@media screen and (min-width: map-get($breakpoints, sm)) {
		@content;
	}
}
@mixin md-screen {
	@media screen and (min-width: map-get($breakpoints, md)) {
		@content;
	}
}
@mixin lg-screen {
	@media screen and (min-width: map-get($breakpoints, lg)) {
		@content;
	}
}
@mixin xl-screen {
	@media screen and (min-width: map-get($breakpoints, xl)) {
		@content;
	}
}
@mixin xxl-screen {
	@media screen and (min-width: map-get($breakpoints, xxl)) {
		@content;
	}
}
