<template>
		<HeaderThreeArea :headerHeight="headerHeight">
			<template v-slot:area-left>
					<img src="../assets/logo.png" alt="logo">
			</template>
			<template v-slot:area-middle>
				<h1 class="title"> {{ title }} </h1>
			</template>
			<template v-slot:area-right>
				<a	class='logout' @click.stop="logOut" aria-label="log out">
					<i class="bi bi-box-arrow-left logout-icon"></i>
				</a>
			</template>
	</HeaderThreeArea>

	<main>
		<SidebarLeft :sidebarWidth="sidebarLeftWidth" sidebarTopPosition="50px" @sidebar-left-state="fitLeftSidebar">
			<div class="sidebar-l">
				<div class="sidebar-l__addlist" @click.stop="currentContent='add-list'">
					<i class="sidebar-l__addlist__icon bi bi-plus-square-fill"></i>
				</div>
				<div class="sidebar-l__lists">
					<div v-for="list in lists" class="sidebar-l__list" :key="list.id">
						<input @change="selectList($event, list.id, list.name)" type="radio" name="list-radio" :id="'list-check-' + list.id" />
						<label :for="'list-check-' + list.id" class="sidebar-l__list__name">{{ list.name }}</label>
						<i class="bi bi-x-circle sidebar-l__list__del" @click.stop="showModalDeleteList(list.id)"></i>
					</div>
				</div>
			</div>
		</SidebarLeft>
		<ModalYesNo id="dellist" :callbackYes="callDeleteList" buttonTextYes="Confirmer" buttonTextNo="Annuler">
			Confirmer la suppresion de la liste de tâche ?
		</ModalYesNo>

		<SidebarRight :enable="task" :sidebarWidth="sidebarRightWidth" sidebarTopPosition="50px" @sidebar-right-state="fitRightSidebar">
			<div class="sidebar-r">
				<h2 class="sidebar-r__title">{{ task ? task.name : null }}</h2>
				<p class="sidebar-r__shortdesc">{{ task ? task.shortDesc : null }}</p>
				<p class="sidebar-r__longdesc">{{ task ? task.longDesc : null }}</p>
				<p class="sidebar-r__date">{{ task ? task.date.split('T')[0] : null }}</p>
			</div>
		</SidebarRight>
		<div class="main-content">
			<AddList v-if="currentContent==='add-list'" @addlist-done="currentContent=null" />
			<DisplayList v-else-if="currentContent==='display-list'" :listId="listId" v-model:task="task" @add-task="currentContent = 'add-task'" />
			<AddTask v-else-if="currentContent==='add-task'" @addlist-done="currentContent=null" :listId="listId" @addtask-done="currentContent='display-list'" />
			<p class="blank" v-else>Sélectionner une liste à afficher.</p>
		</div>

	</main>
</template>
<script>
const bootstrap = require('bootstrap')

import { mapState, mapActions } from 'vuex'
import HeaderThreeArea from '../components/HeaderThreeArea.vue'
import SidebarLeft from '../components/SidebarLeft.vue'
import SidebarRight from '../components/SidebarRight.vue'
import AddList from '../components/AddList.vue'
import DisplayList from '../components/DisplayList.vue'
import ModalYesNo from '../components/ModalYesNo.vue'
import AddTask from '../components/AddTask.vue'

export default {
	name: 'Home',
	data () { return {
			title: null,
			currentContent: null, // what is displayed in .main-content
			modalDeleteList: null,
			listId: null,
			task: null,
			headerHeight: '100px',
			sidebarLeftWidth: '30%',
			sidebarRightWidth: '35%',
			main_space_sidebar_left: '0px',
			main_space_sidebar_right: '0px'
	}},
	components: {
		HeaderThreeArea,
		SidebarLeft,
		SidebarRight,
		AddList,
		DisplayList,
		ModalYesNo,
		AddTask,
	},
	computed: {
		...mapState(['logged', 'lists'])
	},
	methods: {
		...mapActions(['checkLogged', 'logout', 'listsUpdate', 'deleteList', 'deleteTask' ]),
		logOut() {
			this.logout()
			this.$router.push('/login')
		},
		fitLeftSidebar (displayed) {
		// padding on main to make space for the sidebar
				if (displayed)
						this.main_space_sidebar_left = this.sidebarLeftWidth
				else
						this.main_space_sidebar_left = '0px'
		},
		fitRightSidebar (displayed) {
		// padding on main to make space for the sidebar
				if (displayed)
						this.main_space_sidebar_right =  this.sidebarRightWidth
				else
						this.main_space_sidebar_right = '0px';
		},
		showModalDeleteList (listId) {
			document.getElementById('button_yes-dellist').setAttribute('data-list-id', listId)
			this.modalDeleteList.toggle()
		},
		callDeleteList (event) {
			this.modalDeleteList.toggle()
			this.deleteList(event.target.dataset.listId)
			.then (() => {
				this.listsUpdate(this.listId)
				if (event.target.dataset.listId == this.listId) {
					this.currentContent = null
					this.title = null
					this.task = null
				}
			})
			.catch (err => console.error(err))
		},
		selectList (event, listId, listName) {
				this.currentContent = null
				this.listId = listId
				this.$nextTick(() => { this.currentContent = 'display-list'})
				this.title = listName
				this.task = null
		}
	},
	mounted() {
		this.checkLogged() 
		.then (() => {
			if (!this.logged)
				this.$router.push('/login')
		})
		this.listsUpdate()
		this.modalDeleteList = new bootstrap.Modal(document.getElementById('modal-dellist'))

		// hide sidebarRight when there is a click outside of the bar and not on a task
		let sidebarRight = document.getElementById("sidebar-right-cont")
		document.addEventListener("click", (event) => {
			event.stopPropagation()
			if (!sidebarRight.contains(event.target) && !event.target.dataset.ignoreClick) {
				let sidebarToggle = document.getElementById("sidebar-toggle-right")
				if (sidebarToggle)
					document.getElementById("sidebar-toggle-right").checked = false
				this.fitRightSidebar(false)
			}
		})
		// display sidebarLeft by default	
		document.getElementById("sidebar-toggle-left").checked = true
		this.fitLeftSidebar(true)
	}
}
</script>


<style scoped lang="scss">

.logout-icon {
	text-decoration: none;
	color: $primary;
	font-weight: bold;
	font-size: 40px;
	&:hover{
		color: $secondary;
	}
}
main {
	overflow-x: hidden;
	position: relative;
	width: 100%;
	height: calc(100% - v-bind(headerHeight));
}

/***** main content ****/

.title {
	text-transform: capitalize;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3rem;
}

.main-content {
  z-index: 0;
	height: calc(100vh - v-bind(headerHeight) - 50px);
	overflow: hidden;
  transition: all 300ms ease-in-out;
	padding: 0px 1rem;
	margin-top: 50px;
	margin-left: v-bind(main_space_sidebar_left);
	margin-right: v-bind(main_space_sidebar_right);
}

.blank {
	color: $secondary;
	font-size: 1.1rem;
}
/***** left sidebar ****/

.sidebar-l {
	width: 100%;
	height: calc(100vh - v-bind(headerHeight) - 50px);
	border: $primary 2px dashed;
	border-radius: 0px 10px 10px 0px;
	border-left: none;
	background-color: white;
	overflow: hidden;
	&__lists {
		width: 100%;
		height: calc(100% - 45px);
		overflow: auto;
	}
	&__addlist {
		font-size: 30px;
		color: white;
		background: $primary;
		border-radius: 0px 10px 0px 0px;
		height: 45px;
		&:hover{
			background-color: $secondary;
		}
	}
	&__list {
		input {
			display: none;
			&:checked ~ .sidebar-l__list__name {
					border: double $secondary 6px;
					color: $primary;
					font-weight: bold;

			}
		}
		&__name {
			width: 100%;
			height: 100%;
			line-height: 50px;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			&:hover {
				border: double 6px;
			}
		}
		&__del {
			position: absolute;
			left: 18px;
			top: 18px;
			display:none;
			div:hover > & {
				display: block;
			}
			input:checked ~ & {
				display: block;
			}
		}
		height: 60px;
		width: 100%;
		border-bottom: solid 3px;
		position: relative;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

/***** right sidebar ****/

.sidebar-r {
	width: 100%;
	height: 100%;
	border: $primary 2px dashed;
	border-radius: 10px 0px 0px 10px;
	border-right: none;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	&__title {
		margin-bottom:  2rem;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__shortdesc {
		text-overflow: ellipsis;
		overflow: hidden;
		margin-bottom:  2rem;
	}
	&__longdesc {
		white-space: pre-wrap;
		height: 50%;
		overflow: auto;
		margin-bottom:2rem;
		text-align: left;
	}
	&__date {
		margin-bottom:  2rem;
	}
}
</style>
