<template>
	<div class="container">
		<img src="../assets/logo.png" alt="logo" class="mb-4 mx-auto d-block">
		<form v-on:submit.stop.prevent='sendLogin' class="mx-auto" novalidate>
			<div lask="mb-4">
				<input placeholder="E-mail" type="email" autocomplete="username" class="mb-3 form-control" id="email">
			</div>
			<div class="mb-4">
				<input placeholder="Mot de passe" type="password" autocomplete="current-password" class="form-control" id="password">
			</div>
			<p v-show="errorMsg" class="text-danger">{{ errorMsg }}</p>
		<button type="submit" class="mt-4 btn btn-primary">Envoyer</button>

		</form>
		<router-link to="/signup" class="signup">S'inscrire</router-link>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	name: 'Login',
	data() { return {
		errorMsg: null,
		apiUrl: process.env.VUE_APP_API_URL,
		msg: history.state.msg
	}},
	computed: {
		...mapState(['logged'])
	},
	mounted() {
		this.checkLogged() 
		.then (() => {
			if (this.logged)
				this.$router.push('/')
		})
	},
	methods: {
		...mapActions(['checkLogged', 'login']),
		sendLogin(event) {
			const url = this.apiUrl + '/auth/login/'
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json' 
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data && data.message === "bad") {
						this.errorMsg = "Mauvaise combinaison d'e-mail et mot de passe."
					}
					if (response.ok) {
						this.login(data)
						this.$router.push({ name: 'Home'})
					}
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		}
	}
}
function formatData(target) {
	let data = {
		email: target.email.value,
		password: target.password.value,
	}
	return JSON.stringify(data)
}
</script>

<style scoped lang="scss">
	form {
		width: 300px;
	}
	@include md-screen {
		.container {
			padding: 20vh;
		}
	}
	.signup {
		position: relative;
		top: 6vh;
		text-decoration: none;
		color: $secondary;
		font: 1.1rem helvetica;
		font-weight: bold;
	}
</style>
