<template>
	<div class="container">
		<img src="../assets/logo.png" alt="logo" class="mb-4 mx-auto d-block">
		<form v-on:submit.stop.prevent='sendSignup' class="mx-auto" novalidate>
			<div class="mb-4">
				<input placeholder="Nom" type="text" class="mb-3 form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="Entrer un prénom" id="lastname">
			</div>
			<div class="mb-4">
				<input placeholder="Prénom" type="text" class="mb-3 form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="Entrer un nom" id="firstname">
			</div>
			<div class="mb-4">
				<input placeholder="E-mail" type="email" autocomplete="username" class="mb-3 form-control" data-bs-toggle="tooltip" data-bs-placement="right"  id="email">
			</div>
			<div class="mb-4">
				<input placeholder="Mot de passe" type="password" autocomplete="new-password" class="form-control" data-bs-toggle="tooltip" data-bs-placement="right" title="Entrer un mot de passe d'au moins 8 caractères" id="password">
			</div>
		<button type="submit" class="mt-4 btn btn-primary">Envoyer</button>
		</form>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
const bootstrap = require('bootstrap')

export default {
	name: 'Signup',
	data () { return {
		apiUrl: process.env.VUE_APP_API_URL
	}},
	computed: {
		...mapState(['logged'])
	},
	mounted() {
		this.checkLogged() 
		.then (() => {
			if (this.logged)
				this.$router.push('/')
		})
		initErrorsTooltips()
	},
	methods: {
		...mapActions(['checkLogged', 'login']),
		sendSignup(event) {
			const url = this.apiUrl + '/auth/signup/'
			let tests = validateForm(event.target)
			displayErrors(tests)
			if (tests.Invalid) {
				console.error('invalid form')
				return
			}
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 

					'Content-Type': 'application/json' 

				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data && data.message === "email") {
						usedEmail()
					}
					if (response.ok)
						this.$router.push({ name: 'Login', state: { msg: 'Inscription complétée' } })
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		}
	}
}

let tooltipList = {}	

function initErrorsTooltips() {
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	let tooltipArray = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl, {
			boundary: document.body,
			trigger: 'manual'
		})
	})
	for (let tooltip of tooltipArray) {
		tooltipList[tooltip._element.id] = tooltip
	}
}

function usedEmail() {
	let el = document.getElementById('email')
	el.classList.add('is-invalid')
	tooltipList['email']._config.title = "Cet e-mail n'est pas disponible"
	tooltipList['email'].show()
}

function displayErrors(tests) {
	let el;
	// set email tooltip title in case it hase been changed by usedEmail()
	tooltipList['email']._config.title = 'Entrer une e-mail valide'
	for (let i in tests) {
		if (!tests[i]) {
			tooltipList[i].show()
			el = document.getElementById(i)
			el.classList.add('is-invalid')
			el.classList.remove('is-valid')
		}
		else if (i !== 'Invalid') {
			tooltipList[i].hide()
			el = document.getElementById(i)
			el.classList.add('is-valid')
			el.classList.remove('is-invalid')
		}
	}
}

function formatData(target) {
	let data = {
		email: target.email.value,
		password: target.password.value,
		firstName: target.firstname.value,
		lastName: target.lastname.value,
	}
	return JSON.stringify(data)
}

function validateForm(target) {
	let tests = {
		firstname: /[a-zA-Z0-9 ,.'-]+/.test(target.firstname.value),
		lastname: /[a-zA-Z0-9 ,.'-]+/.test(target.lastname.value),
		email: /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(target.email.value),
		password: /(?=.{8,})/.test(target.password.value),
	}
	for (let x in tests) {
		if (!tests[x])
			tests.Invalid = true;
	}
	return tests
}
</script>
<style scoped lang="scss">
	form {
		width: 300px;
	}
	@include md-screen {
		.container {
			padding: 20vh;
		}
	}
</style>
